.dragstuff_slide > h2 {
    margin-top: 2rem;
    margin-left: 2rem;

    position: absolute;
    top: 0;
    left: 0;
}

.dragstuff_slide h2 a {
    text-decoration: underline;
}



.demo {
    min-height: 600px;
    
    width: 100%;
    

    /* background-color: #d8d8d8; */

    display: flex;
    justify-content: center;
    align-items: center;
}



.circular_demo .container {
    width: 500px;
    height: 500px;

    border-radius: 500px;

    background-color: var(--darkGray);
}


.circular_demo .item {
    width: 30px;
    height: 30px;

    background-color: var(--lightGray);

    border-radius: 20px;

    /* outline: 5px solid rgb(177, 255, 104); */

    transition: border-radius 0.2s ease, transform 0.2s ease, background-color 0.2s ease;

}



.box_demo .container {
    width: 500px;
    height: 500px;
}


.box_demo .item {
    width: 30px;
    height: 30px;

    transition: border-radius 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}










/* ==================== */

.rounder {
    border-radius: 10px;
}

.noRound {
    border-radius: 5px !important;
}

.scaled {
    border-radius: 15px;
    transform: scale(3.2);
    background-color: rgb(247, 162, 83);
}