.increment_container {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}



.card {



    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--darkGray);


    border-radius: 100px;

    width: 200px;
    height: 340px;

    
    /* margin: 0 auto;
    margin-top: 2rem; */

}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* gap: 5rem; */

}




.card_content button:hover {
    filter: brightness(1.5);
}

.counter_wrapper {
    font-size: 25px;
    /* color: var(--pink); */
    color: var(--lightGray);


    margin-top: -1rem;


    display: flex;

    font-weight: 900;
    font-size: 3rem;

}




