.slider-container {


    opacity: 1;


    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    /* border: 1px solid red; */

    height: 50px;
    width: 275px;


    overflow: hidden;

    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /* box-shadow: 0px 0px 35px 10px rgba(255, 255, 255, 0.05); */




    z-index: 10;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;

    position: absolute;

    z-index: 2;
    left: 5%;

    user-select: none;

}


.slider {
    height: 10px;
    width: 175px;

    border-radius: 10px;
    background-color: var(--darkGray);


    overflow: hidden;

    transition: transform 0.35s cubic-bezier(0.87, 0, 0.13, 1), border-radius 0.35s cubic-bezier(0.87, 0, 0.13, 1);
}

.inner-slider {
    height: 100%;
    width: 75%;

    background-color: var(--lightGray);
}


.dragging {
    cursor: col-resize !important;
}

.slider-container input {
    display: none;
}

input {
    user-select: none;
}



.numberShow {
    font-size: 8rem;
    font-size: 1rem;

    font-family: Urbanist;
    font-weight: 900;

    position: absolute;
    right: 6%;

    user-select: none;

    color: var(--white);

}






.animating {
    transform: scaleX(1.58) scaleY(5);
    border-radius: 0;

}







/* image styling for blur effect */
img {
    margin-top: 5rem;
    height: 500px;

    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}