@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --white: #fff;
    --black: #111111;
    --darkGray: #444444;
    --lightGray: rgb(143, 143, 143);

    --left: 0;
    --top:0;
    --translateX: -100%;
    --translateY: -200%;


    --bgc-spacing: 160px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 
*/

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: var(--black);

    color: var(--white);

    background-color: #000000;
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000 var(--bgc-spacing)), repeating-linear-gradient(#122D3C55, #122D3C);
    background-size: 100vw 100vh;

    /* min-height: 3000px; */

}


a {
    text-decoration: none;

    color: var(--white);
}

.wrapper {
    max-width: 1500px;
    width: 70%;

    margin: 0 auto;
}

.bgc_blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.095);
    backdrop-filter: blur(2px);
    z-index: -1;
}




.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;

    /* font-weight: 500;
    font-size: 1.1rem; */
}

.list__item {
    padding: 1rem 0rem;
}





main {
    margin-top: 15rem;
}

@media (min-width:1440px) {
    main {
        margin-top: 5rem;
    }
}


h1  {
    margin-bottom: 0.5rem;
}
h1 + p {
    opacity: 0.5;
}

.carousel {
    margin-top: 2rem;
    /* border: 1px solid green; */



}

.splide__list {

}


.splide__slide {
    min-height: 50vh;



    border-radius: 25px;



    background: rgb(18, 18, 18);
    background: linear-gradient(306deg, rgba(18, 18, 18, 1) 0%, rgba(18, 44, 58, 1) 100%);


    /* backdrop-filter: blur(65px); */


    /* nice touch at the top and bottom: */

    /* -webkit-box-shadow: inset 0px 2px 2px -1px #ffffff59, inset 0px -2px 2px -1px #ffffff59; 
    box-shadow: inset 0px 2px 2px -1px #ffffff59, inset 0px -2px 2px -1px #ffffff59; */
    -webkit-box-shadow: inset 0px -2px 2px -1px rgba(255, 255, 255, 0.25), inset 0px 2px 2px -1px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px -2px 2px -1px rgba(255, 255, 255, 0.25), inset 0px 2px 2px -1px rgba(255, 255, 255, 0.25);


}


.slider_slider h2 {
    margin-top: 2rem;
    margin-left: 2rem;   


    user-select: none;
    pointer-events: none;
}

.inc_btn {
    margin-top: 2rem;
    margin-left: 2rem;

    background-color: var(--white);
    color: var(--black);
    font-size: 1.875rem;
    font-weight: bold;

    padding: 0.5rem 1.25rem;
    border-radius: 10px;

    border: none;


    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.45);
}

.inc_header {
    margin-top: 2rem;
    margin-left: 2rem;   


    display: flex;
    align-items: center;
    grid-area: 0.5rem;
}

.inc_header h2 {
    
    user-select: none;
    pointer-events: none;
}

#inc_val {
    border: none;
    margin-left: 1rem;

    padding: 0.65rem 0;

    border-radius: 10px;

    isolation: isolate;
    z-index: 2;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.increment_slide {
    position: relative;
}



footer {
    margin-top: 2rem;

    /* background-color: black; */
    background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

    
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;


    min-height: 5rem;

}

footer p {
    padding-top: 1rem;
}







.loader {
    width: 100vw;
    height: 100vh;
    
    background-color: var(--black);


    position: absolute;
    left: 0;
    top: 0;

    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader h2 {
    font-size: 4rem;
}